FRONTEND_URL = http://localhost:3000
POER=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://nsamussa1_db_user:13rGDXhrc6O7wjyD@cluster0.glxh2is.mongodb.net/rsk-associates?appName=Cluster0
JWT_SECRET=kkk123
JWT_SECRET=jwt_secret_here
JWT_EXPIRE=7d
COOKIE_EXPIRE=7
